@charset "utf-8";
/* common */
body {margin: 0;}
ul {padding: 0; list-style: none; margin: 0;}
button {
    outline: none; border: 1px solid #000; background-color: #fff; padding:0.104166vw 0 0 1.5625vw; width: 11.45833vw ; height:  2.39583vw; box-sizing: border-box; font-size: 0.885416vw; text-align: left; font-family:'Saira Condensed', sans-serif ; font-weight: 400;
    background: url(../images/buttonarrow.png) no-repeat 60% 50% /cover;
    background-size:  2.135416vw 0.625vw;
    cursor: pointer;
}

h2 {
    font-family:'Saira Condensed', sans-serif ; font-weight: 400; font-size: 2.760416vw; margin-top: 5.15625vw;
}

a {
    text-decoration: none; color: inherit; display: block;
}
.conts {
    margin: 13.020833vw 0;
}
/* main */
.wrap .videobox {
    width: 100%; height: 100vh;
    overflow: hidden;
    position: relative;
}

.wrap .videobox .youtubeVideo {
    width: 107.5vw; height: 100%;
    margin: 0 auto;
    z-index: -1;
}
.wrap .videobox .bgtxtbox {
    position: absolute;
    width: 100%; height: 100%;
    top: 0px;
    color: #fff;
}
.wrap .videobox .bgtxtbox .bgtxt {
    width: 20.833333vw; position: absolute; font-size:  4.739583vw;
}
.wrap .videobox .bgtxtbox .bgtxt1{
    width: 41.666666vw;
    font-size: 6.979166vw;
    top: 7.03125vw; right:28.645833vw;
    text-align: center;
}
.wrap .videobox .bgtxtbox .bgtxt2{
    top:  8.697916vw; margin: 0;
}
.wrap .videobox .bgtxtbox .bgtxt3{top:  8.697916vw; right: 0; text-align: right;}
.wrap .videobox .bgtxtbox .bgtxt4{bottom: 12.916666vw;}
.wrap .videobox .bgtxtbox .bgtxt5{bottom: 12.916666vw; right: 0; text-align: right;}
/* contents */
/* contents sec1 */
/* contents sec2 */
.contents .conts {
    width: 100%;
    height: 46.6145833vw;
    display: flex;
    justify-content:right;
}
.contents .txtBox {
    width: 24.479166vw; height: 100%; box-sizing: border-box;
}
.contents .txtBox p {
    font-family: 'pretendardR';
}
.contents .sec2 .txtBox ul {
    display: flex;
    justify-content: left;
    margin-bottom: 6.25vw;
}
.contents .sec2 .txtBox ul li:nth-child(2){
    text-indent: -9999px; background: url(../images/imagearrow.png) no-repeat 50% 50% / contain;
}
/* contents sec3 */
.contents .sec3 {
    justify-content: left; background-color: #000; color: #fff; height: 46.09375vw;
}
.contents .sec3 .txtBox {
    padding-left: 3.90625vw;
} 

.contents .sec3 .txtBox p {
    margin: 2.604166vw 0; font-size: 1.25vw;
    line-height: 1.4;
}
.contents .sec3 .txtBox h3 {
    border: 1px solid #fff; font-size: 1.458333vw; width: 11.458333vw; padding: 0.729166vw; text-align: center; font-family: 'pretendardM'; box-sizing: border-box;
}
.contents .sec3 .txtBox button {
    border-color:#fff ; color: #fff;
}
.contents .sec3 .txtBox button.firstbtn {
    text-align: right;
    padding-right: 1.5625vw;
    background: url(../images/buttonarrowWL.png) no-repeat 20% 50%;
    margin-bottom: 2.34375vw;
}
.contents .sec3 .txtBox button.lastbtn {
    background: url(../images/buttonarrowWR.png) no-repeat 80% 50%;
    margin-left:45% ;
}
/* contents sec4 */
.contents .sec4 .scheduleBox {
    width: 58.020833vw; height: 100%;
    grid-template-columns:4.166666vw repeat(5,1fr) 4.166666vw;
    grid-template-rows:1.5625vw repeat(5, 1fr);
}

.contents .sec4 .txtBox {
    padding-right: 3.90625vw

} 
/* contents sec5 */
.contents .sec5 {
    justify-content: left; background-color: #000; color: #fff; height: 46.71875vw;
}

.contents .sec5 .txtBox {
    padding-left: 3.90625vw;
}
.contents .sec5 .txtBox .kofont {
    font-family: 'pretendardR';
}
.contents .sec5 .txtBox p {
    font-size: 0.9375vw;
} 
.contents .sec5 .txtBox h3 {background-color: #fff; color: #000; font-family: 'Saira Condensed', sans-serif; font-size: 1.25vw;}
.contents .sec5 .sns {
    display: flex;
    justify-content: space-between;
    width: 12.5vw;
    margin-top: 3.645833vw;
}
.contents .sec5 .sns li a {
    width: 3.229166vw; height: 3.229166vw; text-indent: -9999px;
}
.contents .sec5 .sns .youtube {
    background: url(../images/youtube.svg) no-repeat 50% 50% / contain;
}
.contents .sec5 .sns .instagram {
    background: url(../images/instagram.svg) no-repeat 50% 50% / contain;
}
.contents .sec5 .sns .facebook {
    background: url(../images/facebook.svg) no-repeat 50% 50% / contain;
}

/* img 사이즈 */

.contents .sec2 .txtBox ul li img {
    width: 20.104166vw; height:16.145833vw;
}
.contents .sec2 #sec2Video a img {
    width: 58.020833vw; height: 46.614583vw;
}

.contents .sec3 #sec3Video a img {
    width: 58.020833vw; height:46.041666vw ;
}





/* footer */
footer {
    width:  60.520833vw; margin: 0 auto; border-bottom: 3px solid #000;
    display:flex;
    justify-content: space-around;
    margin-bottom: 10.416666vw;
    font-family: 'pretendardThin'; font-size:  0.9375vw;
    font-weight: 100;
}
footer p strong {
    font-family: 'Saira Condensed', sans-serif;
}
